:root {
    --green: #c0bc72;
    --pink: #cf6059;
    --orange: #ffa859;
    --blue: #5a9bcf;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.start-page {
    position: absolute;
    display: none; /*flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.start-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/background.png);
    /* filter: grayscale(55%) blur(4px); */
    /* Prevent resize background */
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--pink);
    border-radius: 30px;
    border: 7px solid white;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 80px;
    top: 0;
    left: 0;
    width: 100%;
}

.center-hub {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.instructions {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: var(--blue);
    border: 7px solid white;
    border-radius: 25px;
    margin-top: 620px;
    color: white;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
}
/* This is the */
.instructions span {
    font-size: 18px;
    margin-top: 20px;
}

.levels {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 15px;
    width: 100%;
    height: 70%;
}

.level {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    border: 7px solid white;
    color: white;
    background-color: black;
    width: 30%;
    height: 80%;
    margin: 10px;
    font-size: 60px;
    border-radius: 25px;
    cursor: pointer;
    transition: ease-in-out 100ms;
}
.green {
    background-color: var(--green);
}

.pink {
    background-color: var(--pink);
}

.orange {
    background-color: var(--orange);
}
.level span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.level:hover {
    transform: scale(1.05);
}
